<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport"
        content="width=device-width, initial-scale=1.0">

    <title>
        {% block title %}Wine Quality Predictor{% endblock %}
    </title>

    <link rel="icon"
        href="{{ url_for('static', filename='assets/favicon.png') }}">

    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap"
        rel="stylesheet">

    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">

    <link rel="stylesheet"
        href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>

    <div class="overlay"></div>

    <nav>

        <div class="logo">

            <img
                src="{{ url_for('static', filename='assets/logo.svg') }}"
                alt="Logo">

            <span>

                Wine Quality Predictor

            </span>

        </div>

    </nav>

    {% block content %}

    {% endblock %}

    <script
        src="{{ url_for('static', filename='js/script.js') }}">
    </script>

</body>

</html>